/*----------- BODY --------------*/


/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/


/*----------- MAIN --------------*/
main {
  max-width: $widest;
}

.card-grid {
  grid-template-columns: 1fr 1fr 1fr;
}

.solid-card {
  img {
    width: 0px;
  }
}

footer {
  background-color: $secondaryColor;
  padding: 0.5rem 2%;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;

  .social {

    .icons {
      width: 100%;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    // margin: 0 0 0 50px;
  }

  //end grid container
}

//end footer